.container-page {
  position: relative;

  .regular {
    .regular-main {
      .left {
        .skill-data {
          padding-top: 8px;
          margin-bottom: 8px;
          opacity: 0;

          span {
            padding-left: 8px;
            font-size: 18px;
            font-weight: 600;
          }

          .skill-bar-box {
            width: 100%;
            background: #262c37;

            .skill-bar {
              margin-top: 8px;
              height: 2px;
              background: #2894ff;
            }

            [bar="html"] {
              width: 97%;
            }
            [bar="css"] {
              width: 85%;
            }
            [bar="sass"] {
              width: 82%;
            }
            [bar="js"] {
              width: 87%;
            }
            [bar="ts"] {
              width: 84%;
            }
            [bar="rjs"] {
              width: 79%;
            }
            [bar="an"] {
              width: 92%;
            }
            [bar="njs"] {
              width: 54%;
            }
            [bar="sb"] {
              width: 71%;
            }
            [bar="mysql"] {
              width: 65%;
            }
          }
        }

        .skill-data:nth-child(1) {
          animation: home-fade-in 0.8s ease-out forwards 1.9s;
        }
        .skill-data:nth-child(2) {
          animation: home-fade-in 0.8s ease-out forwards 1.7s;
        }
        .skill-data:nth-child(3) {
          animation: home-fade-in 0.8s ease-out forwards 1.5s;
        }
        .skill-data:nth-child(4) {
          animation: home-fade-in 0.8s ease-out forwards 1.3s;
        }
        .skill-data:nth-child(5) {
          animation: home-fade-in 0.8s ease-out forwards 1.1s;
        }
        .skill-data:nth-child(6) {
          animation: home-fade-in 0.8s ease-out forwards 0.9s;
        }
        .skill-data:nth-child(7) {
          animation: home-fade-in 0.8s ease-out forwards 0.7s;
        }
        .skill-data:nth-child(8) {
          animation: home-fade-in 0.8s ease-out forwards 0.5s;
        }
        .skill-data:nth-child(9) {
          animation: home-fade-in 0.8s ease-out forwards 0.3s;
        }
        .skill-data:nth-child(10) {
          animation: home-fade-in 0.8s ease-out forwards 0.3s;
        }
      }
    }
  }
}

@media (max-height: 900px) {
  .right { display: none !important; }
}
