<div class="container-page">
  <div class="regular">
    <h1 class="page-title neon">
      Skills
    </h1>

    <div class="regular-main">
      <div class="left">
        <div class="skill-data">
          <span>HTML5</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="html"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>CSS3</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="css"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>SASS</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="sass"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>JavaScript</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="js"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>TypeScript</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="ts"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>ReactJS & React Native</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="rjs"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>Angular</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="an"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>NodeJS</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="njs"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>Spring Boot</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="sb"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>Postgres, MySQL & MongoDB</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="mysql"></div>
          </div>
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/svg/skills.svg" alt="skills" class="mate-img">
      </div>
    </div>
  </div>
</div>
