<div class="container-page">
  <div class="regular">
    <h1 class="page-title neon">
      About & <br/> Experience
    </h1>

    <div class="regular-main">
      <section class="left">
        <h3>
          I am a <span class="neon">Fullstack Developer</span>, working with <span class="neon">Spring Boot</span> on Backend, but my preference is with <span class="neon">Angular</span>, <span class="neon">ReactJS</span> and <span class="neon">React Native</span> on Frontend.
        </h3>
        <br/>
        <h3>
          I am {{ myAge }} years old, and started studying <span class="neon">JavaScript</span> in 2019 and <span class="neon">Java</span> in 2020. I built some personal projects to practice my knowledge and worked as Freelancer using these technologies.
        </h3>
        <br>
        <h3>
          In addition to others, programming is my favorite hobby and I am always looking to reach the next level!
        </h3>
      </section>
      <section class="right">
        <img src="../../../assets/svg/presentation.svg" alt="presentation" class="mate-img">
      </section>
    </div>
  </div>
</div>
