<div class="container-app">
  <aside>
    <div routerLink="/home" routerLinkActive="route-active" class="option">
      <i class='bx bx-home-alt icon' id="home-icon"></i>
      <label>Home</label>
    </div>
    <div routerLink="/about" routerLinkActive="route-active" class="option">
      <i class='bx bx-user icon' id="about-icon"></i>
      <label>About</label>
    </div>
    <div routerLink="/skills" routerLinkActive="route-active" class="option">
      <i class='bx bx-bar-chart icon' id="skills-icon"></i>
      <label>Skills</label>
    </div>
    <div routerLink="/projects" routerLinkActive="route-active" class="option">
      <i class='bx bx-briefcase icon' id="my-work-icon"></i>
      <label>My Work</label>
    </div>
    <div routerLink="/contact" routerLinkActive="route-active" class="option">
      <i class='bx bx-envelope icon' id="contact-icon"></i>
      <label>Contact</label>
    </div>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
  <div class="bs-container bsc1">
    <div class="b-square"><img src="../assets/img/ts-logo.png" alt="ts-logo"></div>
    <div class="b-square"><img src="../assets/img/njs-logo.png" alt="njs-logo"></div>
    <div class="b-square"><img src="../assets/img/js-logo.png" alt="js-logo"></div>
  </div>
  <div class="bs-container bsc2">
    <div class="b-square"><img src="../assets/img/a-logo.png" alt="a-logo"></div>
    <div class="b-square"><img src="../assets/img/rjs-logo.png" alt="rjs-logo"></div>
  </div>
</div>
