<div class="container-page">
  <section class="left">
    <ul class="title">
      <div class="title-row">
        <li>H</li><li>i</li><li>,</li>
      </div>
      <div class="title-row">
        <li>I</li><li>'</li><li>m</li>&nbsp;
        <section class="title-row">
          <li class="neon">X</li>
          <li class="neon">a</li>
          <li class="neon">a</li>
          <li class="neon">k</li>
          <li class="neon">l</li>
          <li class="neon">a</li>
        </section><br/>
      </div>
      <div class="title-row">
        <li>W</li><li>e</li><li>b</li>
        <li>-</li>
        <li>D</li><li>e</li><li>v</li><li>e</li><li>l</li><li>o</li><li>p</li><li>e</li><li>r</li>
      </div>
    </ul>

    <span class="subtitle">Frontend Developer - ReactJS / Angular Expert</span>

    <app-button ref="/contact" class="btn-animate">Contact Me</app-button>
  </section>
  <section class="right">
    <svg id="a-logo" width="277.38" height="300" viewBox="0 0 235 254" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.540873 42.3377L117.5 0.531021L234.288 42.3313L217.055 198.188L117.5 253.428L17.9699 198.203L0.540873 42.3377Z" stroke="#A6120D" stroke-width="3"/>
      <path d="M148.864 155.811L148.737 155.5H148.401H87.1239H86.7901L86.6621 155.808L71.2209 193H44.8265L117.501 30.7214L190.227 192.5H163.836L148.864 155.811ZM95.796 133.808L95.5088 134.5H96.2578H139.424H140.168L139.887 133.811L118.49 81.3775L118.031 80.2528L117.565 81.3747L95.796 133.808Z" stroke="#B3B3B3" stroke-width="3"/>
      </svg>
  </section>
</div>
