@import "../../../variables";

.card-project {
  background: $secondary-color;
  border: 1px solid $primary-color;
  border-radius: 4px;
  padding: 6px;
  position: relative;
  overflow: hidden;

  .card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card-project-image {
    img {
      border-radius: 4px;
      height: 400px;
      width: 100%;
      object-fit: contain;
    }
  }

  .card-project-footer {
    margin-top: 12px;
    padding: 8px 16px;

    .card-project-title {
      margin-bottom: 12px;
    }

    .card-project-details {
      color: $third-color;
    }
  }

  .card-project-description {
    background: $secondary-color;
    width: 99%;
    height: 99%;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 800ms;
    padding: 16px 14px;
    overflow-y: auto;
    text-align: justify;

    &.show {
      top: 0;
    }
  }
}

@media (max-width: 510px) {
  .card-row {
    flex-direction: column !important;
  }

  .card-project-title {
    text-align: center;
  }

  .card-project-details {
    margin-bottom: 12px;
    text-align: center;
  }
}
